.settings-menu
{
  z-index:1100;
}
.dropdown-menu.dropdown-menu-dark {
    background-color: #222a33;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  line-height: 1.42857143;
  white-space: nowrap;
  padding: 16px 20px 3px 20px;
  text-transform: uppercase;
  color: rgba(255,255,255,.4);
  font-size: 11px;
  font-weight: 500;
}

.dropdown-menu {
    font-size: 14px;
    text-align: left;
    list-style: none;
    text-transform: none;
  }


.dropdown-menu li a, .dropdown-menu li a:focus {
    display: block;
    clear: both;
    padding: 0 20px;
    font-weight: 400;
    white-space: nowrap;
    font-size: 12px;
    color: white;
    line-height: 30px;
    text-decoration: none;
    background-color: transparent;
}
